.homeBoxDaddy {
    margin-top: 2vh;
    position: fixed;
    left:18vw;
    top:10vh;
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: scroll;
    border-radius: 5%;
    z-index: -1;
}

.searchBar {
    width: 35vw;
    position: fixed;
    top: 8vh;
    left:25vw;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: black; 
    font-size: 16px;
    box-sizing: border-box; 
    outline: none; 
}