.logoParent {
    place-content: center;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-areas:
    "p1 p2 p3"
    "name name name";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 0;
    box-sizing:border-box;
    margin-inline: auto;
    background-color: transparent;
    }

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.logoName {
    grid-area: name;
}
