.logoParent {
    display: grid;
    grid-template-areas:
    "p1 p2 p3"
    "name name name";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 90vw;
    max-height: 90vh;
    }

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.logoName {
    grid-area: name;
}
