.sideBarBoxDaddy {
    max-width: 15vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    left: 10px;
    top:1vh;
    box-sizing: border-box;
    text-align: center;
}

.kitchenIcon {
    margin-top: 1vh;
    font-size: 30px;
}

.sideBarLogo {
    max-width: 10vh;
    max-height: 10vh;
}

.tvIcon {
    font-size: 30px;
}

.bedIcon {
    font-size: 30px;
}

.toiletIcon {
    font-size: 30px;
}

.sideBarOptions {
    background: transparent;
    font-family:'Courier New', Courier, monospace;
    color:black;
    border: none;
    border-radius: 8%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background 0.3s ease;
}

.sideBarOptions:hover {
    background: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
}

.sideBarMenuButtonOn {
    margin-top: 10vh;
    background: transparent;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.mutedSideBarMenuButtonOn {
    margin-top: 10vh;
    background: transparent;
    border: none;
    cursor:default;
    transform: rotate(180deg);
}

.sideBarMenuButtonOff {
    margin-top: 10vh;
    background: transparent;
    border: none;
    cursor: pointer;
}

span {
    margin-left: 10px;
}