.sideBarBoxDaddy {
    max-width: 15vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    left: 10px;
    top:1vh;
    box-sizing: border-box;
    text-align: center;
}

.kitchenIcon {
    padding-top: 10vh;
    font-size: 30px;
}

.sideBarLogo {
    max-width: 10vh;
    max-height: 10vh;
}

.tvIcon {
    font-size: 30px;
}

.bedIcon {
    font-size: 30px;
}

.toiletIcon {
    font-size: 30px;
}

